{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "env": {
    "build": {
      "plugins": ["babel-plugin-transform-async-to-promises"]
    }
  }
}
