{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:node/recommended",
    "plugin:promise/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
  },
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  }
}
